
body {
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}
header {
  position:fixed;
  width:100%;
  top:0;
  background:#111827;
  padding:10px;
}
nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
}
nav ul {
  display:flex;
  list-style:none;
  gap:15px;
}
nav a {
  color:white;
  text-decoration:none;
}
.hero {
  display:flex;
  justify-content:space-around;
  margin-top:100px;
  padding:40px;
}
.hero img {
  width:250px;
  border-radius:50%;
}
.btn {
  background:#4f46e5;
  padding:10px;
  color:white;
  text-decoration:none;
}
.btn-outline {
  border:1px solid white;
  padding:10px;
  color:white;
  text-decoration:none;
}
.grid {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}
.card {
  background:#1e293b;
  padding:15px;
  margin:10px;
  border-radius:10px;
}
